<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("role", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("role") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("first", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("first") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("last", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("last") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("company", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("company") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("dob", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("dob") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("websitete", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("websitete") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cell", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cell") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cc_token", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cc_token") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("ip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("ip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("browser", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("browser") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("created", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("created") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updated") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("accessed", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("accessed") %>
   </div>
</div>
