<%- errorMessagesFor(user) %>
<div class="control-group">
   <%- form.label("username", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("username") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("password", false, {class: "control-label"}) %>
   <div class="controls">
       <input type="password" id="User_password" name="User[password]" value="">
   </div>
</div>
<div class="control-group">
   <%- form.label("password_confirmation", false, {class: "control-label"}) %>
   <div class="controls">
       <input type="password" id="User_password_confirmation" name="User[password_confirmation]" value="">
   </div>
</div>
<div class="control-group">
   <%- form.label("role", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelect('role', ['admin','contractor'], user.role) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelect('status', ['active','disabled'], user.status) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("first", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("first") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("last", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("last") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address2", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address2") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("state", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("state") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("zip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("zip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("company", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("company") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("dob", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("dob") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("website", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("website") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cell", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cell") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cc_number", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cc_number") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cc_month", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelectMonth("cc_month", undefined === values ? "" : values.cc_month) %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cc_year", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelectYear("cc_year", undefined === values ? "" : values.cc_year) %>
   </div>
</div>