<div class="page-header">
    <h1>Details of user</h1>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>id</th><td><%= user.id %></td></tr>
        <tr><th>role</th><td><%= user.role %></td></tr>
        <tr><th>username</th><td><%= user.username %></td></tr>
        <tr><th>email</th><td><%= user.email %></td></tr>
        <tr><th>first</th><td><%= user.first %></td></tr>
        <tr><th>last</th><td><%= user.last %></td></tr>
        <tr><th>company</th><td><%= user.company %></td></tr>
        <tr><th>dob</th><td><%= user.dob %></td></tr>
        <tr><th>website</th><td><%= user.website %></td></tr>
        <tr><th>phone</th><td><%= user.phone %></td></tr>
        <tr><th>cell</th><td><%= user.cell %></td></tr>
        <tr><th>cc_token</th><td><%= user.cc_token %></td></tr>
        <tr><th>address</th><td><%= user.address %></td></tr>
        <tr><th>address2</th><td><%= user.address2 %></td></tr>
        <tr><th>city</th><td><%= user.city %></td></tr>
        <tr><th>state</th><td><%= user.state %></td></tr>
        <tr><th>zip</th><td><%= user.zip %></td></tr>
        <tr><th>location</th><td><%= user.location %></td></tr>
        <tr><th>status</th><td><%= user.status %></td></tr>
        <tr><th>created</th><td><%= user.created %></td></tr>
        <tr><th>updated</th><td><%= user.updated %></td></tr>
        <tr><th>accessed</th><td><%= user.accessed %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_user(user), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.user(user), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.users()) %>
</div>