<%- errorMessagesFor(lead) %>
<div class="control-group">
   <%- form.label("contractor", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("contractor") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("project", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("project") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("job", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("job") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("price", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("price") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cc_token", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cc_token") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("log", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("log") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelect('status', ['init','process','success','failed'], lead.status) %>
   </div>
</div>