<%- errorMessagesFor(lead) %>
<div class="control-group">
   <%- form.label("contractor", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("contractor") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("project", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("project") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("transaction", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("transaction") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("status") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("created", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("created") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updated") %>
   </div>
</div>
