<div class="page-header">
    <h1>Details of lead</h1>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>id</th><td><%= lead.id %></td></tr>
        <tr><th>contractor</th><td><%= lead.contractor %></td></tr>
        <tr><th>project</th><td><%= lead.project %></td></tr>
        <tr><th>job</th><td><%= lead.job %></td></tr>
        <tr><th>price</th><td><%= lead.price %></td></tr>
        <tr><th>cc token</th><td><%= lead.cc_token %></td></tr>
        <tr><th>log</th><td><%= lead.log %></td></tr>
        <tr><th>status</th><td><%= lead.status %></td></tr>
        <tr><th>created</th><td><%= lead.created %></td></tr>
        <tr><th>updated</th><td><%= lead.updated %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_lead(lead), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.lead(lead), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.leads()) %>
</div>