<%- errorMessagesFor(project) %>
<div class="control-group">
   <%- form.label("job", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("job") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("zip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("zip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("ip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("ip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("leads", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("leads") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("browser", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("browser") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createted", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createted") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updated") %>
   </div>
</div>
