<%- errorMessagesFor(project) %>
<div class="control-group">
   <%- form.label("job", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("job") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address2", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address2") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("state", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("state") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("zip", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("zip") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("log", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.textarea("log") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("status", false, {class: "control-label"}) %>
   <div class="controls">
       <%- fieldSelect('status', ['init','process','success','failed'], lead.status) %>
   </div>
</div>