<div class="page-header">
    <h1>Details of project</h1>
</div>


<table class="table table-bordered">
    <tbody>
        <tr><th>id</th><td><%= project.id %></td></tr>
        <tr><th>job</th><td><%= project.job %></td></tr>
        <tr><th>name</th><td><%= project.name %></td></tr>
        <tr><th>phone</th><td><%= project.phone %></td></tr>
        <tr><th>email</th><td><%= project.email %></td></tr>
        <tr><th>address</th><td><%= project.address %></td></tr>
        <tr><th>address2</th><td><%= project.address2 %></td></tr>
        <tr><th>city</th><td><%= project.city %></td></tr>
        <tr><th>state</th><td><%= project.state %></td></tr>
        <tr><th>zip</th><td><%= project.zip %></td></tr>
        <tr><th>price</th><td><%= project.price %></td></tr>
        <tr><th>log</th><td><%= project.log %></td></tr>
        <tr><th>status</th><td><%= project.status %></td></tr>
        <tr><th>created</th><td><%= project.created %></td></tr>
        <tr><th>updated</th><td><%= project.updated %></td></tr>    
    </tbody>
</table>

<div class="well">
    <%- link_to('<i class="icon-edit icon-white"></i> Edit', path_to.edit_project(project), {class: 'btn btn-primary'}) %>
    <%- link_to('<i class="icon-remove icon-white"></i> Delete', path_to.project(project), {class: 'btn btn-danger', method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %>
    or
    <%- link_to('Back to index', path_to.projects()) %>
</div>