<%- errorMessagesFor(log) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("severity", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("severity") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("note", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("note") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("created", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("created") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("updated", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("updated") %>
   </div>
</div>
